head
  base(href="/")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width")
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(http-equiv="content-language" content= page.language || 'en')
  title= page.title || ''
  meta(name="description" content!= page.description || '')
  meta(name="keywords" content= page.keywords || '')
  meta(name="robots" content="index, follow")
  meta(name="googlebot" content="index, follow")
  meta(property="og:title" content= page.title || '')
  meta(property="og:type" content="website")
  meta(property="og:url" content=page.url || '')
  meta(property="og:description" content!= page.description || '')
  meta(property="og:image" content= page.socialImg || '')
  meta(name="apple-mobile-web-app-capable" content="yes")
  link(rel="icon" type="image/png" href="assets/img/favicon.png")

  // Vendor
  // vendor:css
  // endinject

  // Assets
  // inject:css
  // endinject

  // Main style
  link(rel="stylesheet" href="assets/css/style.css")
  if ENV === 'development'
    script.
      var ENV = 'development'
  else
    script.
      var ENV = 'production'