include ../_data/data.pug
include ../_mixins/mixins.pug

block config

-
  if (!page){
    page = {};
  } else {
    if(pages[page]){
      page = pages[page];
    }else{
      page = {};
    }
  }

doctype html
html
  //- Head
  include _head.pug
  body(class= page.name)
    //- include ../_partials/_loader.pug

    //- Menu
    include ../_partials/_header.pug

    block content

    //- footer
    include ../_partials/_footer.pug

    //- Foot
    include _foot.pug