// animations
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

// transitions
@mixin transition($speed) {
  -webkit-transition:   all $speed cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-transition: 		  all $speed cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -ms-transition: 		  all $speed cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-transition: 		    all $speed cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: 			    all $speed cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

@mixin transitions($property, $speed) {
  -webkit-transition:   $property $speed ease-in-out;
  -moz-transition:      $property $speed ease-in-out;
  -ms-transition:       $property $speed ease-in-out;
  -o-transition:        $property $speed ease-in-out;
  transition:           $property $speed ease-in-out;
}

@mixin tr($property, $speed, $ease) {
  -webkit-transition:   $property $speed $ease;
  -moz-transition:      $property $speed $ease;
  -ms-transition:       $property $speed $ease;
  -o-transition:        $property $speed $ease;
  transition:           $property $speed $ease;
}