
//Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// box Shadow
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow:    inset $top $left $blur $color;
    box-shadow:         inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow:    $top $left $blur $color;
    box-shadow:         $top $left $blur $color;
  }
}

// special Rotation
@mixin rotate($degrees) {
  -webkit-transform:    rotate(#{$degrees}deg);
  -moz-transform:       rotate(#{$degrees}deg);
  -ms-transform:        rotate(#{$degrees}deg);
  -o-transform:         rotate(#{$degrees}deg);
  transform:            rotate(#{$degrees}deg);

  filter:               progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
  -ms-filter:           "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
  zoom:                 1;
 }

//Media Querie breakPoints
 @mixin hide($breakPoint) {
  @media screen and (max-width: $breakPoint) {
    display: none;
    visibility: hidden;
  }
 }

 @mixin show($breakPoint) {
	@media screen and (max-width: $breakPoint) {
		display: block;
		visibility: visible;
	}
 }


// generic transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
   @include transform(scale($scale));
}
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
// transform origin
@mixin transform-origin ($origin) {
     -moz-transform-origin: $origin;
       -o-transform-origin: $origin;
      -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
          transform-origin: $origin;
}

@mixin preserve3d(){
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@mixin avoidFlick(){

   -moz-backface-visibility: hidden;
-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
   -moz-transform: translateX(0);
-webkit-transform: translateX(0);
        transform: translateX(0);
}

// no-select
@mixin no-select(){
-webkit-touch-callout: none;
-webkit-user-select: none;
 -khtml-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

// flex
@mixin flex(){
  display: -webkit-flex;
  display: flex;
}

// flex
@mixin flex-flow($flow){
  -webkit-flex-flow: $flow;
  flex-flow: $flow;
}
