//Grays
$gray-base: #f4f4f4 !default;
$gray-10: darken($gray-base, 10) !default;
$gray-20: darken($gray-base, 20) !default;
$gray-30: darken($gray-base, 30) !default;
$gray-40: darken($gray-base, 40) !default;
$gray-50: darken($gray-base, 50) !default;
$gray-60: darken($gray-base, 60) !default;
$gray-70: darken($gray-base, 70) !default;
$gray-80: darken($gray-base, 80) !default;
$gray-90: darken($gray-base, 90) !default;

$colors: (
  'blue': #63a7c6,
  'darkblue': #303340,
  'yellow': #ead990,
  'orange': #fb8578,
  'purple': #a56eda,
  'green': #8bcb73,
  'red': #ab3b31,
  'gray': #63677f,
  'white': #ffffff,
  'black': #303030,
);

$facebook:    #4d70a8 !default;
$linkedin:    #1687b1 !default;
$googleplus:  #e3401d !default;
$twitter:     #00bbf2 !default;

$brand-darkblue: map-get($colors, 'darkblue');
$brand-blue: map-get($colors, 'blue');
$brand-yellow: map-get($colors, 'yellow');
$brand-orange: map-get($colors, 'orange');
$brand-purple: map-get($colors, 'purple');
$brand-green: map-get($colors, 'green');
$brand-red: map-get($colors, 'red');
$brand-gray: map-get($colors, 'gray');
$white: map-get($colors, 'white');
$black: map-get($colors, 'black');


$brand-primary:          $brand-darkblue!default;
$brand-secondary: 			 $black!default;

$brand-accent:				   #ffffff !default;
$progress-color:			   $brand-primary !default;

$lighten: 20%;
$darken: 20%;

//Shades
$brand-light: 		      lighten($brand-primary, 40%) !default;
$brand-lighter: 	      lighten($brand-primary, 70%) !default;
$brand-dark:			      darken($brand-primary, 40%) !default;
$brand-darker:		      darken($brand-primary, 70%) !default;

//Background colors
$bg-color-primary:			$white !default;

//Global text color
$text-color:            	$black !default;

$headings-color:          $brand-primary;
$headings-small-color:		$brand-primary;
