$fonts: (
  'gotham': (
    'black',
    'bold',
    'book',
    'light',
    'medium',
    'thin',
  ),
  'sourcecodepro': (
    'black-italic',
    'black',
    'bold-italic',
    'bold',
    'extralight-italic',
    'extralight',
    'italic',
    'light-italic',
    'light',
    'medium-italic',
    'medium',
    'regular',
    'semibold-italic',
    'semibold',
  )
);

$font-black: 'gotham-black';
$font-bold: 'gotham-bold';
$font-book: 'gotham-book';
$font-light: 'gotham-light';
$font-medium: 'gotham-medium';
$font-thin: 'gotham-thin';

$font-secondary-black-italic: 'sourcecodepro-black-italic';
$font-secondary-black: 'sourcecodepro-black';
$font-secondary-bold-italic: 'sourcecodepro-bold-italic';
$font-secondary-bold: 'sourcecodepro-bold';
$font-secondary-extralight-italic: 'sourcecodepro-extralight-italic';
$font-secondary-extralight: 'sourcecodepro-extralight';
$font-secondary-italic: 'sourcecodepro-italic';
$font-secondary-light-italic: 'sourcecodepro-light-italic';
$font-secondary-light: 'sourcecodepro-light';
$font-secondary-medium-italic: 'sourcecodepro-medium-italic';
$font-secondary-medium: 'sourcecodepro-medium';
$font-secondary-regular: 'sourcecodepro-regular';
$font-secondary-semibold-italic: 'sourcecodepro-semibold-italic';
$font-secondary-semibold: 'sourcecodepro-semibold';

$font-regular: $font-book;

$font-primary:                $font-regular;
$font-secondary:              $font-secondary-regular;

$font-family-sans-serif:  	$font-primary;		// "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       	$font-secondary;	// Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   	Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        	$font-family-sans-serif !default;

$font-size-base:          	16px !default;
$font-size-xl:             	ceil(($font-size-base * 1.25)) !default; // 20px
$font-size-lg:         		  ceil(($font-size-base * 1.14)) !default; // ~18px
$font-size-sm:             	ceil(($font-size-base * 0.85)) !default; // ~14px
$font-size-xs:	     		    ceil(($font-size-base * 0.75)) !default; // 12px
$font-size-xxs:         	  ceil(($font-size-base * 0.6)) !default; // ~10px

$font-size-h1:            	floor(($font-size-base * 3.75)) !default; // 60px
$font-size-h2:            	floor(($font-size-base * 3.1)) !default; // ~50px
$font-size-h3:           	  ceil(($font-size-base * 2.4)) !default; // ~38px
$font-size-h4:           	  ceil(($font-size-base * 1.5)) !default; // ~24px
$font-size-h5:            	$font-size-base !default;
$font-size-h6:            	ceil(($font-size-base * 0.80)) !default; // ~13px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        	1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    	floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    	$font-regular!default;
$headings-font-weight:    	normal !default;
$headings-line-height:    	1.2 !default;
