$break-xs: 700px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1280px;

$break-xl: 1366px;
$break-xxl: 1440px;

$tablet-width: 768px;
$desktop-width: 1024px;

$queriesList: (
  'lg': $break-lg,
  'md': $break-md,
  'sm': $break-sm,
  'xs': $break-xs
);