html, body {
	padding: 0;
	margin: 0;
	font-family: $font-primary;
  font-size: $font-size-base;
  //line-height: $line-height-base;
  background-color: $bg-color-primary;
  color: $text-color;

  // height: 100%;
	width: 100%;

	/*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
	// overflow-x: hidden;
	@include font-smooth();
  @include transition($brand-transition);
  background-color: $white;
}


//form resets
input, textarea{
  border: 0;
  outline: 0;
  @include border-radius(0);
  box-shadow: none!important;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea{
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

*{
  box-sizing: border-box;
}

a{
  &:hover, &:focus, &:link, &:visited, &:active{
    // color: inherit;
  }
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

section{
  position: relative
}

.uppercase{ text-transform: uppercase; }
.lowercase{ text-transform: lowercase; }

//opacity
@for $i from 1 through 20{
  .opacity-#{10 * $i}{ opacity: ($i * 10) / 100; }
  @each $query, $querySize in $queriesList{
    @media screen and (max-width: $querySize) {
      .opacity-#{$query}-#{10 * $i}{ opacity: ($i * 10) / 100; }
    }
  }
}

$textAlignments: (left, right, center, justify);
@each $textAlignment in $textAlignments{
  .text-align-#{$textAlignment}{ text-align: $textAlignment; }
  @each $query, $querySize in $queriesList{
    @media screen and (max-width: $querySize) {
      .text-align-#{$query}-#{$textAlignment}{ text-align: $textAlignment; }
    }
  }
}

$paddersList: (
  'x': (
    'left', 'right'
  ),
  'y': (
    'top', 'bottom'
  ),
);

$paddersTypes: ('padding', 'margin');

@each $axis, $props in $paddersList {
  @each $type in $paddersTypes{
    .no-#{$type}-#{$axis}{
      @each $prop in $props {
        #{$type}-#{$prop}: 0;
      }
    }
    .no-#{$type}{
      #{$type}: 0;
    }
    @each $query, $querySize in $queriesList{
      @media screen and (max-width: $querySize) {
        .no-#{$type}-#{$axis}-#{$query}{
          @each $prop in $props {
            #{$type}-#{$prop}: 0;
          }
        }
        .no-#{$type}-#{$query}{
          #{$type}: 0;
        }
      }
    }
  }
}

//spacers
div[class^="spacer-"],
div[class*=" spacer-"],
.spacer{
  display: block;
  width: 100%;
  margin: 0;
  clear: both;
}

$posSlugs: ('top', 'right', 'bottom', 'left');

@for $i from 1 through 20{
  .spacer-#{10 * $i}{ height: 10px * $i; }
  @each $query, $querySize in $queriesList{
    @media screen and (max-width: $querySize) {
      .spacer-#{$query}-#{10 * $i}{ height: 10px * $i; }
    }
  }

  @each $padder in $paddersTypes {
    @each $pos in $posSlugs{
      .#{$padder}-#{$pos}-#{10 * $i}{ #{$padder}-#{$pos}: 10px * $i; }
    }
    @each $axis, $axisPos in $paddersList{
      .#{$padder}-#{$axis}-#{10 * $i}{
        @each $pos in $axisPos{
          #{$padder}-#{$pos}: 10px * $i;
        }
      }
    }
    @each $query, $querySize in $queriesList{
      @media screen and (max-width: $querySize) {
        @each $pos in $posSlugs{
          .#{$padder}-#{$pos}-#{$query}-#{10 * $i}{ #{$padder}-#{$pos}: 10px * $i; }
        }
        @each $axis, $axisPos in $paddersList{
          .#{$padder}-#{$axis}-#{$query}-#{10 * $i}{
            @each $pos in $axisPos{
              #{$padder}-#{$pos}: 10px * $i;
            }
          }
        }
      }
    }
  }
}

//fonts
@each $family, $styles in $fonts {
  @each $style in $styles {
    .#{$family}-#{$style}{ font-family: '#{$family}-#{$style}'; }
  }
}

$fontSizes: (
  'xxs': $font-size-xxs,
  'xs': $font-size-xs,
  'sm': $font-size-sm,
  'lg': $font-size-lg,
  'xl': $font-size-xl,
);
@for $i from 4 through 100{
  .font-size-#{2 * $i}{ font-size: 2px * $i; }
  @each $query, $querySize in $queriesList{
    @media screen and (max-width: $querySize) {
      .font-size-#{$query}-#{2 * $i}{ font-size: 2px * $i; }
    }
  }
}
@each $fontSize, $size in $fontSizes{
  .font-size-#{$fontSize}{ font-size: $size; }
  @each $query, $querySize in $queriesList{
    @media screen and (max-width: $querySize) {
      .font-size-#{$fontSize}-#{$fontSize}{ font-size: $size; }
    }
  }
}



//colors
@each $color, $value in $colors {
  .brand-#{$color}{ color: $value; };
  .bg-brand-#{$color}, .bg-#{$color}{ background-color: $value; };
}

//grays
@for $i from 1 through 9{
  $value: $i * 10;
  .gray-#{$value}{ color: darken($gray-base, $value); };
  .bg-#{$value}{ background-color: darken($gray-base, $value); };
}