h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headings-color;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  text-align: center;

  //-webkit-text-stroke: 0.3px;
  //text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  //text-transform: uppercase;
  small {
    color: $headings-small-color;
    line-height: 1;
  }
}

h4,
h5,
h6{
  font-family: $font-regular;
}

b,
strong {
  font-family: $font-bold;
  font-weight: normal;
}

button,
a {
  @include transition($brand-transition);
  border: 0;
  box-shadow: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  user-select: none;

  &:hover,
  &:focus,
  &:visited,
  &:active {
    cursor: pointer;
    text-decoration: none;
  }

  &:active {
    cursor: default;
  }

  &.active {
    cursor: default;
  }

}
code{
  font-size: 14px!important;
}
